.titleScreenDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 70, 24);
}

.header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(226, 128, 128);
}